
<h3>Household Members</h3>

<ul>
  <% @occupants.each do |occupant| %>
    <li>
      <%= link_to "Name: " + occupant.name, occupant %> -
      <%= link_to "Age: " + occupant.age, occupant %>
    </li>
  <% end %>
</ul>
<div class="buttons">
<button><%= link_to "Add a NEW Household Member", new_occupant_path %></button>
</div>
